<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Card</title>
    <!-- Google Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>
  <body>
    <section id="hero1">
      <img src="images/Group 1 (1).png" alt="" id="img1">
      <img src="images/Group 1.png" alt="" id="img2">
      <img src="images/Group 3.png" alt="" id="img3">
      <img src="images/Group 4.png" alt="" id="img4">
      <img src="images/Group 5.png" alt="" id="img5">
      <div class="hey">
        <h1>Hey</h1>
        <h2 class="nama">hai sayangg, Nazwa Siti Zaqiyah</h2>
      </div>
      <div class="ucapan">
        <h1>Happy Birthday</h1>
        <h2>May all your wishes come true</h2>
        <h3>from Fuad Sagaala</h3>
      </div>
    </section>
    <section id="hero2">
      <img src="images/Merah_dan_Pink_Playful_Birthday_Collage_Instagram_Story__1_-removebg-preview.png" alt="" id="happy">
      <!-- Swiper -->
      <div class="swiper mySwiper1">
        <div class="swiper-wrapper">
          <% if (!sliderPertama){ %>
            <h2>Foto belum ada, silahkan upload dulu</h2>
          <% }else{ %>
            <% sliderPertama.forEach((e,i)=>{%>
              <div class="swiper-slide">
                <img src="<%= framePertama[i] %>" alt="" class="slider1-frame">
                <div class="innerCard">
                  <img src="<%= e %>" alt="">
                </div>
              </div>
            <%}) %>
          <% } %>
        </div>
      </div>
    </section>
    <section id="hero3">
      <!-- Swiper -->
      <div class="swiper mySwiperText">
        <div class="swiper-wrapper">
          <% if(kata){ %>
            <% kata.forEach(e=>{ %>
              <div class="swiper-slide">
                <div class="textBox3">
                  <p class="show-animate">
                    <%= e %>
                    <span class="showRight-animate"></span>
                  </p>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <img src="images/love_icon.png" alt="" class="love_icon">
      <img src="images/loves.png" alt="" class="loves">
    </section>
    <section id="hero4">
      <img src="images/our_moment.png" alt="" id="our_moment">
          <!-- Swiper -->
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <% if (!sliderKedua){ %>
            <h2>Foto belum ada, silahkan upload dulu</h2>
          <% }else{ %>
            <% sliderKedua.forEach((e,i)=>{%>
              <div class="swiper-slide">
                <img src="<%= frameKedua[i] %>" alt="" class="slider1-frame">
                <div class="innerCard">
                  <img src="<%= e %>" alt="">
                </div>
              </div>
            <%}) %>
          <% } %>
        </div>
      </div>
    </section>
    <section id="question">
      <h1>SESI PERTANYAAN</h1>
      <form action="/send-email" method="post">
        <% if(pertanyaan) { %>
          <% pertanyaan.forEach((e) => { %>
            <% if (e.trim().length > 0) { %>
              <div class="input-wrapper">
                <label for="input"><%= e %></label>
                <input type="text" name="question" style="display: none;" placeholder="" value="<%= e %>">
                <input type="text" name="text" id="input" class="input" placeholder="type answer...">
              </div>
            <% } %>
          <% }) %>
        <% } %>
        <button>
          <span class="box">
              Submit
          </span>
        </button>
      </form>
    </section>
  </body>
  <script>
    let textBox3 = document.querySelector('.textBox3');
    let textAnimasi = textBox3.querySelector('p')
    let ketinggian = textAnimasi.offsetHeight


    window.addEventListener('scroll', () => {
      var textAnimasiRect = textAnimasi.getBoundingClientRect();
      var ketinggianScroll = textAnimasiRect.top;

      if (ketinggianScroll >= 0 && ketinggianScroll <= window.innerHeight) {
        textAnimasi.classList.add('show-animate');
      } 
      else {
        textAnimasi.classList.remove('show-animate');
      }
    });
  </script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> 
  <!-- Initialize Swiper -->
  <script>
    if (window.innerWidth > 500) {
      const swiper1 = new Swiper(".mySwiper1", {
        slidesPerView: 3,
        loop: true,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    }else{
      const swiper1 = new Swiper(".mySwiper1", {
        loop: true,
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        pagination: {
          el: ".swiper-pagination",
        },
      });
    }
    var swiper2 = new Swiper(".mySwiper2", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
    var swiper = new Swiper(".mySwiperText", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</html>
